<div class="col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-6">
  <div class="welcome">
    <p class="welcome-hero"><%- partial("_shared/_tagline") %></p>
    <p>I try to be a nice lady.</p>
  </div>
</div>