<div class="col-md-2">
  <div class="sidebar">
    <p><%- partial("_shared/_tagline") %></p>
    <figure>
      <img class="img-responsive" src="/images/nerf.gif" alt="hand-in-hand" />
      <figcaption><p>I gotcha.</p></figcaption>
    </figure>
  </div>
</div>
<div class="col-md-offset-1 col-md-9">
  <h4 class="hero-strapline">dude. seriously.</h4>
  <div class="col-md-6 col-sm-6">
    <div class="content">
      <p>Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
  </div>
  <div class="col-md-3 col-md-offset-2 col-sm-3">
    <div class="content content-border-on-small">
      <h1 class="title-formal">WORDS</h1>
      <ul class="list-unstyled list-small list-spaced">
        <li><strong>Vestibulum id ligula porta felis euismod semper.</strong></li>
        <li>Quam Adipiscing Egestas Malesuada</li>
        <li>Quam Adipiscing Egestas Malesuada</li>
      </ul>
      <h1 class="title-formal">LOOK AT ME</h1>
      <h2 class="title-bold"></h2>
      <ul class="list-unstyled list-small list-spaced">
        <li>Quam Adipiscing Egestas Malesuada</li>
      </ul>
    </div>
  </div>
</div>
