<ul class="header-navigation list-inline">
  <% var path = current.path[0] %>
  <li><a class="<%= path == 'about' ? 'selected' : '' %>" href="/about/">who</a></li>
  <li><a class="<%= path == 'projects' ? 'selected' : '' %>" href="/projects/">what</a></li>
  <li><a class="<%= path == 'articles' ? 'selected' : '' %>" href="/articles/">words</a></li>
</ul>
