<ul class="header-social list-inline">
  <li><a href="http://twitter.com/michaelcolenso" class="fa fa-lg fa-twitter"></a></li>
  <li><a href="http://github.com/michaelcolenso" class="fa fa-lg fa-github"></a></li>
  <li><a href="https://www.behance.net/michaelcolda8b" class="fa fa-lg  fa-behance"></a></li>
  <li><a href="mailto:mike@colenso.org" class="fa fa-lg fa-envelope"></a></li>
</ul> 
