problem solver. problem finder.
creative technologist.
<a href="http://github.com/michaelcolenso">developer.</a>
rockstar. ninja. noob. autodidact. open source contributor. overcommunicator. aspiring <a href="http://tcplatmap.herokuapp.com">cartographer</a> and <a href="http://police-militarization-map.herokuapp.com/" >data scientist.</a>
builder. profit center. worker. 
